pre,
pre code {
    display: block;
    padding: 0.5em;
    background: #002b36;
    color: #CCCCCC;
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

pre code {
    border: none;
}

code {
    padding: 1px 3px;
    margin: 0 3px;
    background: #FDFDFD;
    border: 1px solid #ECECEC;
}

.editor {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
    font-size: 16px;
    line-height: 1.7;
}

.editor p {
    margin: 0 0 1em;
}

.editor blockquote {
    border-left: 5px solid #eee;
    margin: 20px;
    padding: 5px 10px;
    clear: both;
    margin-left: 10px;
}

.editor blockquote p {
    margin-bottom: 0px;
}

.editor div {
    margin-bottom: 1.2em;
}

.editor.preview {
    width: 900px;
    margin: 20px auto;
    background-color: #F3F2EE;
}

.editor.preview blockquote {
    border-left-color: #e0e0e0;
}

.editor table {
    border-spacing: 0;
    border-collapse: collapse;//边框合并
}

.editor td, .editor th{
    border: 1px solid #777;
    padding: 10px;
}
